nav {
    background-color: #219EBC;
}
@media (width: 320px) {
    nav {
        width: 320px;
    }
}
@media (width: 375px) {
    nav {
        width: 375px;
    }
}
@media (width: 425px) {
    nav {
        width: 425px;
    }
}