<section class="p-5">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 py-5 text-center text-white">
          <h1>CONTACTO</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom01" class="text-white">Nombre y Apellido</label>
                <input type="text" class="form-control" id="validationCustom01" required>
                <div class="valid-feedback">
                  Se ve bien!
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="validationCustom03" class="text-white">Teléfono</label>
                <input type="number" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback text-white">
                  Ingrese su número de teléfono.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom05" class="text-white">Email</label>
                <input type="email" class="form-control" id="validationCustom05" required>
                <div class="invalid-feedback text-white">
                  Ingrese su Email.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1" class="text-white" placeholder="No dudes en consultar!">Comentario</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="No dudes en consultar!" rows="3"></textarea>
            </div>
            <div class="form-group py-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label text-white" for="invalidCheck">
                  Acepta los términos y condiciones.
                </label>
                <div class="invalid-feedback text-white">
                  Debes estar de acuerdo antes de enviar. 
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-3 text-center">
                <button class="btn bg-primary text-white btn-lg p-3 rounded-2" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
