.rowTeam {
    background-color: #8ecae6; 
    box-shadow: 0 0 10px 2px #3a3a3a;
    border-radius: 10px;
}

img {
    height: 20rem;
    margin-top: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 5px 1px #3a3a3a;
    border-radius: 10px;

}
.btn {
    background-color:#219ebc;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.inputs {
    max-width: 40rem;
}
@media (max-width: 768px) {
    img {
        height: 12rem;
    }
}
@media (max-width: 400px) {
    img {
        height: 9rem;
    }
}