<section class="container-fluid p-0">
        <div class="d-flex justify-content-around flex-wrap">
            <div class="contenedor m-0 p-0">
                <img class="img-fluid" src="../../../../assets/imagenes/lucrezia-carnelos-0liYTl4dJxk-unsplash.jpg"/>
            </div>
            <div class="row rowTeam m-0 p-0 contenedor text-white">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <h2 class="p-3 text-center">Registrese para ver el Blog</h2>
                    <div class="p-5 col-8 container">
                        <form [formGroup]="RegisterForm" (ngSubmit)="sendData()"> 
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" formControlName="email" id="exampleFormControlInput1" placeholder="name@example.com" >
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput2" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" formControlName="password" id="exampleFormControlInput2" placeholder="Escribe tu contraseña aquí">
                            </div>
                            <button class="btn btn-primary" type="submit">Registrarse</button>
                            <a class="ms-3" [routerLink]="['/Login']" >Iniciar Sesión</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
