section {
    height: 100vh;    
}
.contenedor {
    height: 100vh;
    width: 50%;
}
img {
    height: 100vh;
    width: 100vh;
}
.rowTeam {
    background: rgb(2,0,36);
    background: linear-gradient(214deg, rgba(2,0,36,1) 2%, rgba(33,158,188,1) 43%, rgba(0,212,255,1) 100%);
}