
html {
    scroll-behavior: smooth;
}
.btn {
    background-color: #219EBC;
}
.imgHero {
    /* Definir tamaño de contenedor */
    height: 100vh;
    background-image: url(../../../../assets/imagenes/pauline-loroy-U3aF7hgUSrk-unsplash.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    }
.title {
    text-shadow: 2px 2px 3px #000000;
    font-size: 50px;
    padding-bottom: 1rem;
}
.contenedor {
    width: 50%;
    height: 100%;
}
.row {
    --bs-gutter-x: 0px;
}
.rowAbout {
    background-color: #8ECAE6;
    border-radius: 40px;
    box-shadow: 0 0 10px 2px #3a3a3a;

}
.list {
    list-style: none;
}
@media (max-width: 768px) {
    .title {
        font-size: 18px;
    }
    p {
        font-size: 13px;
    }
    .p-3 {
        padding: 10px!important;
    }
}