<!-- INICIO -->

<section class="container-fluid p-0">
  <div class="row imgHero text-center text-white d-flex justify-content-start align-items-center fw-bolder">
    <div class="col-5 content">
      <h1 class="title">
        ‎Trabajamos con usted para ayudar a su mascota a mantenerse saludable,
        feliz y divertida‎
      </h1>
      <button class="btn text-white rounded-pill btn-lg p-3">Ver más</button>
    </div>
  </div>

  <!-- AboutVet -->

  <div class="row pt-5 pb-5 m-5 rowAbout">
    <h2 class="text-center text-white fw-bolder fs-1 mb-5">
      Cuidamos a tu mascota como si fuera la nuestra
    </h2>
    <div class="d-flex justify-content-around flex-wrap">
      <div class="p-0">
        <img class="img-fluid" src="../../../../assets/imagenes/eric-ward-ISg37AI2A-s-unsplash.jpg">
      </div>
      <div class=" ps-5 pe-5 text-white fs-4">
        <h3 class="fw-bolder fs-2">Nuestro Objetivo</h3>
        <p>
          ‎Utilizando un enfoque centrado en la familia, Veterinaria Maskoto
          trabaja en asociación con los padres de mascotas para entender mejor la
          circunstancia única de cada mascota, para proporcionar atención
          compasiva y medicina progresiva a cada uno de nuestros pacientes.‎
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
          perspiciatis ipsa cum sapiente iste sunt laudantium ducimus debitis.
          Similique iste in facilis, vitae atque quisquam at minima laborum
          veritatis reprehenderit?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
          perspiciatis ipsa cum sapiente iste sunt laudantium ducimus debitis.
          Similique iste in facilis, vitae atque quisquam at minima laborum
          veritatis reprehenderit?
        </p>
      </div>
    </div>
    
    <!-- Services -->

    <div class="row mt-5 d-flex justify-content-between flex-wrap">
      <!-- <h2 class="text-center text-white">Servicios</h2> -->
      <div class="contenedor text-white fw-bolder d-flex justify-content-center align-items-center">
        <ul class="list p-5">
          <li>
            <img
              src="https://icongr.am/fontawesome/medkit.svg?size=70&color=ffffff"
              alt="Medicina"
            />
            Medicina
          </li>
          <li>
            <img
              src="https://icongr.am/jam/activity.svg?size=70&color=ffffff"
              alt="Cardiolgía"
            />
            Cardiología
          </li>
          <li>
            <img
              src="https://icongr.am/material/flask-empty.svg?size=70&color=ffffff"
              alt="Laboratorio"
            />
            Laboratorio
          </li>
        </ul>
        <ul class="list p-3">
          <li>
            <img
              src="https://icongr.am/material/doctor.svg?size=70&color=ffffff"
              alt="Equipo"
            />
            Equipo Especializado
          </li>
          <li>
            <img
              src="https://icongr.am/material/dog.svg?size=70&color=ffffff"
              alt="Cirugías"
            />
            Cirugías
          </li>
          <li>
            <img
              src="https://icongr.am/material/heart-plus.svg?size=70&color=ffffff"
              alt="Planes de Salud"
            />
            Planes de Salud
          </li>
        </ul>
      </div>
      <div class="contenedor p-0">
        <img class="img-fluid" src="../../../../assets/imagenes/cristian-castillo-73pyV0JJOmE-unsplash.jpg">
      </div>
    </div>
  </div>
</section>
