main {
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(187deg, rgba(2,0,36,1) 0%, rgba(33,158,188,1) 35%, rgba(0,212,255,1) 100%);
}
.img {
    max-height: 500px;
}
.perfil {
    height: 5rem;
    width: 5rem;
}
.card {
    background-color: #8ecae6; 
}