<main>
    <section class="container">
        <div class="mt-5 pt-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div *ngFor = "let post of postUser">
                    <div class="p-2 d-inline-block w-100 " >
                        <div class="h-100 bg-light rounded shadow p-3">
                            <div class="d-flex align-items-center border-bottom">
                                <img class="p-2 perfil rounded-circle img-fluid" [src]= getSanitizerUrl(post.owner.picture)>
                                <h4 class="ml-2"> {{ post.owner.firstName }} {{ post.owner.lastName }}</h4>
                            </div>
                            <div>
                                <img class="mt-2 w-100 img-fluid" [src]= getSanitizerUrl(post.image)>
                                <p class="p-2 font-monospace"> {{ post.text }} </p>
                                <div class="fw-bolder d-flex justify-content-between p-2 border-top">
                                    <span> ♥ {{ post.likes }} likes </span>
                                    <span> {{ post.publishDate }} </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
            
    </section>
</main>
