<section class="container-fluid">
  <div class="row">
    <div class="col-6 contenedor p-0">
      <img
        class="img-fluid"
        src="../../../../assets/imagenes/richard-brutyo-Sg3XwuEpybU-unsplash.jpg"
      />
    </div>
    <div class="col-6">
        <div class="row contenedor rowTeam text-white">
          <div class="d-flex align-items-center justify-content-center flex-column">
            <h2 class="p-3 text-center">Inicia Sesión para ver el Blog</h2><br>
            <div class="p-5 col-8 container">
              <form [formGroup]="LoginForm" (ngSubmit)="sendData()">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    id="exampleFormControlInput1"
                    placeholder="name@example.com"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput2" class="form-label"
                    >Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    id="exampleFormControlInput2"
                    placeholder="Escribe tu contraseña aquí"/>
                </div>
                <button class="btn btn-primary" type="submit">
                  Iniciar Sesión
                </button>
                <a class="ms-3" [routerLink]="['/Register']">Registrarse</a>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>